
.video {
    height: 120px;
    
    margin-left: 125px;
}

#carouse-form {
    /* text-align: center;
    display: inline-block; */
    margin-left: 30%;
    margin-top: 10px;
}
#sing {
    margin-left: 25%;
}