#song-card {
    margin-top: 40px;
    background: transparent;
    color: #4E4E50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    height: 1000px;
    width: 1000px;
    overflow: scroll;
  
}
#song-list {
    margin-left: 0px;
    background: transparent;
    color: blanchedalmond;
    position: absolute;
    font-size: larger;
    font-family: Trebuchet MS, sans-serif;
    margin-top: 55px;
}

#song-card1 {
    width: 700px;
    margin-left: 30px;
    background: transparent;
    color: blanchedalmond;
   
}
.sing {
    font-family: Arial, Helvetica, sans-serif;
    right: 5px;
    position: absolute;
    background-color: #5BC0BE;
    border-radius: 10px;
}
.fav {
    font-family: Arial, Helvetica, sans-serif;
    right: 80px;
    position: absolute;
    background-color:#BF8E94;
    border-radius: 10px;
}