#song-card {
    margin-top: 40px;
    background: transparent;
    color: #4E4E50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    height: 1000px;
    width: 1000px;
    overflow: scroll;
  
}

#song-card1 {
    width: 700px;
    margin-left: 30px;
    background: transparent;
    color: blanchedalmond;
    border-style: groove;
    border-width: medium;
    border-color: black;
}
.sing {
    font-family: Arial, Helvetica, sans-serif;
    right: 5px;
    position: absolute;
    background-color: #f14ebd;
    border-radius: 10px;
}
.fav {
    font-family: Arial, Helvetica, sans-serif;
    right: 80px;
    position: absolute;
    background-color:#4ef18f;
    border-radius: 10px;
}