.nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-decoration-line: overline;
    color: lemonchiffon;   
}
Nav.Link {
    color: lightgoldenrodyellow;
}